<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Criar conta</h1>
    <form action="/auth/cadastro" method="post">
        Nome: <input type="text" name="nome">
        <br>
        Email: <input type="email" name="email" required>
        <br>
        Senha: <input type="password" name="senha_hash">
        <br>
        <button type="submit">Cadastrar</button>

        {% if erro %}
            <p style="color: red;">{{erro}}</p>
        {% endif %}
    </form>

    <p>Já tem conta?<a href="/auth/login">Entrar</a></p>
</body>
</html>