<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        Email: <input type="email" name="email" required>
        <br>
        Senha: <input type="password" name="senha_hash">
        <br>
        <br>
        <button type="submit">Entrar</button>

        {% if erro %}
            <p style="color: red;">{{erro}}</p>
        {% endif %}
    </form>

    <p>Não tem conta?<a href="/auth/cadastro">Cadastre-se</a></p>
</body>
</html>